<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zasady.sstarzak.mobilnyprogram" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="zasady.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.zasady" />

        <activity
            android:name=".MenuActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LanguageActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_language" >
        </activity>
        <activity
            android:name=".OrthographyActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/title_activity_orthography" >
        </activity>
        <activity
            android:name=".HangmanActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/title_activity_hangman" >
        </activity>
        <activity
            android:name=".EnglishActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/title_activity_english" >
        </activity>
        <activity
            android:name=".NumberActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_number" >
        </activity>
        <activity
            android:name=".FastOperationActivity"
            android:label="@string/title_activity_fast_operation"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".PeriodicTableActivity"
            android:label="PeriodicTableActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".NumeralSystemActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_numeral_system" >
        </activity>
    </application>

</manifest>
